@import '../src/scss//mixins';

.SolarRoof{
  @include centerBackground;

  background-image: url('../src/assets/img/Homepage-SolarRoof-Desktop-Global.jpeg');


  .section-top{
    @include section-top;

    .title{
      @include title;
      color: #000;
    }

    .text{
      @include text;
      color: #000;
    }
  }

  .section-bottom{
    @include section-bottom;

    .buttons{
      @include buttons-container;

      .btn-primary{
        @include button-primary;
      }

      .btn-secondary{
        @include button-secondary;
      }
    }
  }
}