html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-size: clamp(1.125rem, 2vw, 1rem);
}
section {
	scroll-snap-align: center;
	height: 100vh;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
}
