html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

// p, h2{
// 	font-size: clamp(1rem, 2vw, 1.5rem);
// }

section {
	scroll-snap-align: center;
	height: 100dvh;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
}

p {
	text-wrap: pretty;
}
